name: Build and Publish Container image
on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v2
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Downcase GITHUB_REPOSITORY
        run: |
          echo "REPO_LOWERCASE=${GITHUB_REPOSITORY,,}" >> "${GITHUB_ENV}"
      - name: Build container image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: |
            ghcr.io/${{ env.REPO_LOWERCASE }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha
